@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
.app{
    min-height: 100vh;
    color: white;
    /* background: linear-gradient(#0b004e,#1d152f,#002834); */
    background: linear-gradient(135deg, #0b0016, #2a005e, #006d8f);

}